.App {
    text-align: center;
}

body {
    background-color: rgb(215, 215, 215);
}

.videosList {
    padding: 0;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    list-style: none;
    display: inline-block; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    border: 2px solid black;
    border-radius: 5px; 
    background: white;
}

.video {
    position: relative;
    border: 2px solid white;
    border-radius: 5px;
    width: 47%;
    padding: 1%;
    margin: 0px;
    margin-inline-start: 2.5px;
    background: rgb(252, 171, 73);
    display: inline-block;
}

.videoThumbnail {
    margin: 5px;
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.videoTags {
    list-style: disc;
}
/*
.categoryAndTags {
    line-height: 1.5em;
}*/

.filters {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 3em;
    background: rgb(252, 171, 73);
    margin: 5px;
}

.filters label, select {
    margin: 2px;
    font-size: 1em;
}

.frmTags, .frmCategories{
    border: 2px solid black;
    border-radius: 5px;
    line-height: 1.5em;
    background: rgb(252, 171, 73);
    padding: 5px;
    margin: 5px;
}

.tagsCheckboxs {
    margin-left: 2.5px;
    margin-right: 2.5px;
    display: inline-block;
}

h1, h2, h3 {
    margin: 0;
}